#wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  padding: 10px;
  h1{
    padding: 10px 0;
  }
}

@media (max-width: 900px) {
  #wrapper {
    position: relative;
    width: 100%;
    padding: 10px 20px;
  }  
}