meta(cahrset="utf-8")
link(rel="canonical" href="https://konojunya.com")
link(rel="shortcut icon" href="/images/favicon.ico")
meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="description" content="関西で活動するじゅんじゅんのポートフォリオサイト。フロントエンドエンジニアとして日々勉強している。")
meta(name="keywords" content="じゅんじゅん,konojunya,河野純也,フロントエンド,エンジニア")
meta(name="author" content="konojunya")
meta(name="copyright" content="©konojunya")
meta(name="rating" content="general")
meta(name="coverage" content="japan")
meta(name="reply-to" content="junya.developer@gmail.com")

//- open graph protocol
meta(property="og:locale" content="ja_JP")
meta(property="og:type" content="website")
meta(property="og:title" content="JUNYA KONO")
meta(property="og:description" content="関西で活動するじゅんじゅんのポートフォリオサイト。フロントエンドエンジニアとして日々勉強している。")
meta(property="og:url" content="https://konojunya.com")
meta(property="og:site_name" content="JUNYA KONO")
meta(property="og:image" content="/images/ogp.png")

//- twitter ogp
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@konojunya")
meta(name="twitter:title" content="JUNYA KONO")
meta(name="twitter:app:country" content="JP")
meta(name="twitter:description" content="関西で活動するじゅんじゅんのポートフォリオサイト。フロントエンドエンジニアとして日々勉強している。")
meta(name="twitter:image" content="/images/ogp.png")