doctype html
html(lang='ja')
  head
    include includes/_head.pug
  body
    section.top
      .top-head
        h1.title JUNYA KONO
        p.calm
      nav.menu
        ul.menu-list
          li.menu-item(data-menu='about')
            span.menu-item-word(data-menu='about') About me.
          li.menu-item(data-menu='portfolio')
            span.menu-item-word(data-menu='portfolio') Portfolio.
      ul.tweets
    section.about
      h2.title about me.
      .main-content
        p.introduction
          span.name じゅんじゅん / 河野純也
          | 				兵庫県明石市生まれ。
          br
          | 				小学生の頃から水泳、タップダンス、珠算をして中学ではサッカー部に所属。
          br
          | 				高校の頃は好きなダンスをするためにダンス部副部長をする。
          br
          | 				HAL大阪に入学し、プログラミングを勉強し始めると共に、
          a(href='//techlogics.link', target='_blank') Tech Logics
          | に所属したくさんの仲間と日々勉強に励む。
          br
          | 				最近では、
          a(href='//iotlt.connpass.com/', target='_blank') IoT縛りの勉強会! IoTLT
          | の大阪主催をしたり、
          a(href='//techlogics.link', target='_blank') Tech Logics
          | の代表になるなど活発的に動いている。
        ul
          li
            span.date 1997
            span.content born in hyogo, japan
          li
            span.date 2015
            span.content MaruzenJunkudo Bookstores Co., Ltd. -> bookseller
          li
            span.date 2015
            span.content CA Tech Kids, inc. -> mentor
          li
            span.date 2015
            span.content Far Connection Co., Ltd. -> frontend engineer / evangelist
          li
            span.date 2016
            span.content Lebe inc. -> frontend engineer
        .sns-links
          ul.sns
            li
              span.sns-title Twitter
              span.sns-link
                a(target='_blank', href='//twitter.com/konojunya/') @konojunya
            li
              span.sns-title Facebook
              span.sns-link
                a(target='_blank', href='//www.facebook.com/junya.developer') 河野純也
            li
              span.sns-title Instagram
              span.sns-link
                a(target='_blank', href='//www.instagram.com/junya0303/') junya0303
          ul.sns
            li
              span.sns-title Github
              span.sns-link
                a(target='_blank', href='//github.com/konojunya/') konojunya
            li
              span.sns-title Qiita
              span.sns-link
                a(target='_blank', href='//qiita.com/konojunya/') konojunya
            li
              span.sns-title Wantedly
              span.sns-link
                a(target='_blank', href='//www.wantedly.com/users/17778562') 河野 純也
      .close-btn
    section.portfolio
      ul.products
        li.product
          .img
            img(src='/images/portfolio_icons/saisen_go.png', alt='', data-product-name='saisen_go')
          p.description
            | Saisen GO
            br
            small 2016 / 10
        li.product
          .img
            img(src='/images/portfolio_icons/markdown_editor.png', alt='', data-product-name='markdown_editor')
          p.description
            | Markdown Editor
            br
            small 2016 / 9
        li.product
          .img
            img(src='/images/portfolio_icons/web_radicon.png', alt='', data-product-name='web_radicon')
          p.description
            | Web Radicon
            br
            small 2016 / 1
        li.product
          .img
            img(src='/images/portfolio_icons/saya_birthday.png', alt='', data-product-name='saya_birthday')
          p.description
            | Saya Birthday
            br
            small 2015 / 11
      .close-btn
    #detail
      .content
      .detail-close-btn
    script(src='/javascripts/bundle.js')
