.post_ani1{
  -webkit-animation-name: bounds;
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-timing-function:ease;

	-moz-animation-name: bounds;
	-moz-animation-duration:5s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:alternate;
	-moz-animation-timing-function:ease;

	-ms-animation-name: bounds;
	-ms-animation-duration:5s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:alternate;
	-ms-animation-timing-function:ease;

	-o-animation-name: bounds;
	-o-animation-duration:5s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:alternate;
	-o-animation-timing-function:ease;

  animation-name: bounds;
	animation-duration:5s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:ease;
}
.post_ani2{
  -webkit-animation-name: bounds;
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-timing-function:ease;

	-moz-animation-name: bounds;
	-moz-animation-duration:3s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:alternate;
	-moz-animation-timing-function:ease;

	-ms-animation-name: bounds;
	-ms-animation-duration:3s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:alternate;
	-ms-animation-timing-function:ease;

	-o-animation-name: bounds;
	-o-animation-duration:3s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:alternate;
	-o-animation-timing-function:ease;

  animation-name: bounds;
	animation-duration:3s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:ease;
}
.post_ani3{
  -webkit-animation-name: bounds;
	-webkit-animation-duration:4s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-timing-function:ease;

	-moz-animation-name: bounds;
	-moz-animation-duration:4s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:alternate;
	-moz-animation-timing-function:ease;

	-ms-animation-name: bounds;
	-ms-animation-duration:4s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:alternate;
	-ms-animation-timing-function:ease;

	-o-animation-name: bounds;
	-o-animation-duration:4s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:alternate;
	-o-animation-timing-function:ease;

  animation-name: bounds;
	animation-duration:4s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:ease;
}
@-webkit-keyframes bounds {
  0%,100%{
    -webkit-transform: translate(0px,0px);
  }
  50%{
    -webkit-transform: translate(0px,-10px);
  }
}
@-moz-keyframes bounds {
  0%,100%{
    -moz-transform: translate(0px,0px);
  }
  50%{
    -moz-transform: translate(0px,-10px);
  }
}
@-ms-keyframes bounds {
  0%,100%{
    -o-transform: translate(0px,0px);
  }
  50%{
    -o-transform: translate(0px,-10px);
  }
}
@-o-keyframes bounds {
  0%,100%{
    -o-transform: translate(0px,0px);
  }
  50%{
    -o-transform: translate(0px,-10px);
  }
}
@keyframes bounds {
  0%,100%{
    transform: translate(0px,0px);
  }
  50%{
    transform: translate(0px,-10px);
  }
}
