@charset "UTF-8";
body,html{
  width: 100%;
  height: 100%;
  background-image: url(../img/kawaii.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
}
*{
  padding: 0;
  margin: 0;
}
.slide1,
.slide2,
.slide3{
  padding: 3% 0;
  width: 100%;
}
/*slide1 css*/
.slide1 h1{
  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px rgb(177, 0, 205);
}
.slide1_contents{
  text-align: center;
}
.slide1_contents .img{
  width: 30%;
  display: inline-block;
  margin: 5%;
}
.slide1_contents img{
  width: 100%;
  border-radius: 50%;
}

/*slide2 css*/
.slide2 h2{
  text-align: center;
  font-size: 2rem;
  padding: 2% 0;
}
.slide2_contents{
  text-align: center;
  width: 50%;
  float: left;
}
.slide2_contents .img{
  height: 200px;
  display: inline-block;
  margin: 1%;
  box-shadow: 0px 0px 10px rgb(254, 188, 18);
}
.slide2_contents .img img{
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
}
.slide2_wrapper_t,
.slide2_wrapper_b{
  width: 90%;
  margin: 3% auto;
  overflow: hidden;
}
.slide2_wrapper_contents{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 40%;
  padding: 1%;
  float: left;
}
.slide2_wrapper_contents p{
  line-height: 3rem;
  margin: 5% 0;
  color: rgba(24, 24, 24, 0.83);
}
.slide2_wrapper_contents a{
  color: rgb(0, 106, 246);
}
/*slide3 css*/
.slide3{
  clear: both;
}
.slide3 h2{
  text-align: center;
  font-size: 2rem;
  padding: 2% 0;
}
.slide3 small{
  display: block;
  text-align: center;
  letter-spacing: 0.7rem;
}
.slide3 .img{
  width: 50%;
  margin: 0 auto;
}
.slide3 img{
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  border: 5px double rgb(255, 124, 146);
}

/*plaza*/
.plazabtn{
  width: 50%;
  margin: 5% auto;
  background-color: rgba(55, 141, 255, 0.75);
  border-radius: 10px;
  padding: 2%;
}
.plazabtn p{
  color: white;
  line-height: 2rem;
  font-weight: bold;
  text-align: center;
}
.plazabtn a{
  color: white;
  line-height: 2rem;
  margin: 1%;
}
