@charset "UTF-8";
body,html{
  width: 100%;
  height: 100%;
  background-image: url(../img/kawaii.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
}
*{
  padding: 0;
  margin: 0;
}
h1{
  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px rgb(232, 88, 255);
}
.back{
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 10px rgb(232, 88, 255);
  font-size: 1.5rem;
}
#messages{
  width: 100%;
  height: 100%;
  padding: 3% 0;
}
#post_space{
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.post_content{
  display: inline-block;
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
  color: rgba(37, 37, 37, 0.87);
}
@media only screen and (max-width: 414px) {
  h1{
    font-size: 20px;
  }
  .post_content{
    margin: 2%;
    padding: 2%;
  }
}
