.boxes{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .box{
    position: relative;
    width: 25vw;
    height: 25vw;
    p{
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
    }
  }
}

@media (max-width: 800px) {
  .boxes .box{
    width: 33.333vw;
    height: 33.333vw;
  }
}

@media (max-width: 600px) {
  .boxes .box{
    width: 50vw;
    height: 50vw;
  }
}