style.
  #detail .description{
    width: 100%;
  }
  #detail .description .img{
    width: 90%;
    margin: 50px auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  }
  #detail .description .img img{
    display: block;
    width: 100%;
    height: 100%;
  }
  #detail .description a{
    color: black;
  }
  #detail .description iframe{
    display: block;
    margin: 30px auto;
  }

.detail-content
  .detail-flexbox
    .created
      p.created-date made 2015.
      small.create-team-title member.
      ul.create-team
        li.member JUNYA KONO
    .box
      h2.title Girlfriend Birthday
      .description
        h3.description-title DESCRIPTION
        p.text
          | Girlfriend Birthdayはその名の通り、彼女の誕生日を祝うために作った特設サイトです。
          br
          | 2015年の19歳の誕生日を祝うのに、自分らしいお祝いの仕方を考えました。そこで、せっかく4月に入学してきて半年はWebの勉強をしていたので
          br
          | 特設サイトを作ろう。と思いつきました。
          br
          | 制作物は
          a(href="//konojunya.com/contents/sayaBirthday/") こちら
          | です。
          br
          br
          | ただのサイトでは面白くないので、みんなからのメッセージをかけるようにして動きと背景色をランダムでつけてみました。
          br
          .img
            img(src="/images/contents/saya_birthday/screen.png")
          | 今はもうコメントをする側のViewは見れないようにしています。
          br
          br
          a(href="//mlkcca.com/") Milkcocoa
          | がすごく便利だったので発案から制作しきるまで2~3日ほどで完成しました。
          br
          br
          | 11月が誕生日なので、その翌月の12月にあるQiitaのアドベントカレンダーにも飛び入り参加しました。
          br
          br
          a(href="//qiita.com/konojunya/items/2fda9cf6d9e6e5b7c430") milkcocoaを使って、誕生日サイトを作った話
          br
          br
          | そして、人生初の
          a(href="//iotlt.connpass.com/") IoTLT
          | での登壇でも話をしたので、その時のスライドも以下に貼っておきたいと思います。
          iframe(src="//www.slideshare.net/slideshow/embed_code/key/vZiCnW3gl2F5t8" width="514" height="422" frameborder="0" scrolling="no" allowfullscreen)
          br
          br
