$brand_color: rgba(213,127,130,1);
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body,html{
	width: 100%;
	height: 100%;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.hidden{
	display: none;
}
.clearfix:after{
	content: "";
	height: 0;
	clear: both;
}
.top{
	width: 100%;
	height: 100%;
	overflow: hidden;
	.title{
		font-size: 2.7rem;
		line-height: 2;
		letter-spacing: 3px;
		color: #2D2D2D;
		opacity: 0;
		font-weight: normal;
	}
	.calm{
		font-size: 1.3rem;
		letter-spacing: 2px;
		color: #2D2D2D;
		opacity: 0;
		font-weight: normal;
	}
	.top-head{
		display: block;
		width: 100%;
		text-align: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-family: 'Quicksand', sans-serif;
	}
	.menu-button{
		width: 10%;
		padding: 10px;
		background-color: $brand_color;
		color: white;
		letter-spacing: 5px;
		text-align: center;
		font-size: 0.8rem;
		position: absolute;
		bottom: 10%;
		right: -20%;
		cursor: pointer;
		&:hover{
			background-color: #BC7175;
		}
	}
	.tweets{
		width: 100%;
		height: 100%;
		position: relative;
		z-index: -100;
		.tweet{
			list-style: none;
			position: absolute;
			top: 0;
			left: 50px;
			opacity: 0.1;
			display: none;
		}
	}
}
.menu{
	position: fixed;
	top: 0;
	right: -20%;
	text-align: center;
	transform: rotate(-90deg);
	transform-origin: bottom right;
	width: 100vh;
	.menu-list{
		cursor: pointer;
		position: relative;
		list-style: none;
		display: flex;
		.menu-item{
			color: white;
			width: 100%;
			height: 50%;
			position: relative;
			padding: 10px;
			.menu-item-word{
				display: block;
				width: 100%;
				text-align: center;
				font-size: 0.9rem;
				color: #141414;
				letter-spacing: 2px;
				font-weight: bold;
				font-family: 'Quicksand', sans-serif;
				&:hover{
					opacity: 0.7;
				}
			}
		}
	}
}
.about{
	width: 100%;
	min-height: 100%;
	background-color: #8CA4BD;
	color: white;
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	.close-btn{
		position: absolute;
		top: 10px;
		right: 20px;
		width: 50px;
		height: 50px;
		cursor: pointer;
		&:after,
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			width: 50px;
			height: 1px;
			background-color: white;
		}
		&:after{
			transform: rotate(45deg);
		}
		&:before{
			transform: rotate(-45deg);
		}
	}
	.title{
		text-align: center;
		padding: 5%;
		letter-spacing: 2px;
		color: white;
		font-weight: bold;
		font-family: 'Quicksand', sans-serif;
	}
	.main-content{
		width: 90%;
		margin: 0 auto;
		font-size: 0.9rem;
		line-height: 2;
		.introduction{
			.name{
				display: block;
				font-size: 1.3rem;
				margin-bottom: 5px;
			}
			a{
				color: white;
			}
		}
		.sns-links{
			display: flex;
		}
		ul{
			margin: 30px;
			li{
				list-style: none;
				.date,
				.sns-title{
					margin-right: 15px;
					letter-spacing: 1.4px;
				}
				.content,
				.sns-link{
					letter-spacing: 1.5px;
					a{
						color: white;
					}
				}
			}
		}
	}
}
.portfolio{
	width: 100%;
	min-height: 100%;
	background-color: $brand_color;
	position: absolute;
	top: 100%;
	left: 0;
	color: white;
	display: none;
	.close-btn{
		position: absolute;
		top: 10px;
		right: 20px;
		width: 50px;
		height: 50px;
		cursor: pointer;
		&:after,
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			width: 50px;
			height: 1px;
			background-color: white;
		}
		&:after{
			transform: rotate(45deg);
		}
		&:before{
			transform: rotate(-45deg);
		}
	}
	.products{
		width: 90%;
		min-height: 100%;
		margin: 0 auto;
		padding: 100px 0;
		display: flex;
		flex-wrap: wrap;
		.product{
			cursor: pointer;
			list-style: none;
			width: 200px;
			height: 200px;
			margin: 0 40px 100px;
			font-weight: normal;
			font-family: 'Quicksand', sans-serif;
			transform: rotate(-90deg);
			.img{
				width: 100%;
				height: 100%;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
				img{
					display: block;
					width: 100%;
					height: 100%;
					transform: rotate(90deg);
				}
			}
			.description{
				text-align: right;
				margin-top: 10px;
				margin-right: 10px;
				letter-spacing: .1rem;
				color: white;
				font-size: 0.8rem;
			}
		}
	}
}
#detail{
	position: fixed;
	bottom: -100%;
	left: 0;
	width: 100%;
	min-height: 100%;
	background-attachment: fixed;
	background-size: 100%;
	background-position: center center;
	background-repeat: none;
	background-repeat: no-repeat;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 3000;
	.detail-content{
		position: absolute;
		top: 60%;
		left: 0;
		width: 100%;
		&:before{
			content: "";
			display: block;
			width: 100%;
			height: 60%;
			background-color: rgba(0,0,0,0.1);
			position: absolute;
			top: -60%;
			left: 0;
		}
		.detail-flexbox{
			width: 100%;
			padding: 0% 5% 5%;
			display: flex;
			background-image: linear-gradient(white 90%,rgba(255,255,255,0.5));
			.created{
				width: 300px;
				padding: 5% 0;
				.created-date{
					font-size: 0.9rem;
					text-align: center;
					padding: 5% 0 10%;
					letter-spacing: 1.1px;
				}
				.create-team-title{
					display: block;
					width: 90%;
					margin: 0 auto;
					text-align: center;
				}
				.create-team{
					width: 90%;
					margin: 0 auto 5%;
					padding: 5px 0;
					.member{
						list-style: none;
						text-align: center;
						line-height: 2;
						letter-spacing: 1.1px;
					}
				}
				.link{
					text-align: center;
				}
			}
			.box{
				flex: 1;
				padding: 5% 0;
				color: rgb(50,50,50);
				.title{
					padding: 30px 0;
					font-size: 2.3rem;
				}
				.description-title{
					color: $brand_color;
					display: inline-block;
					font-size: 1.1rem;
					letter-spacing: 1.4px;
					margin: 15px 0;
					border-bottom: 1px solid $brand_color;
				}
				.text{
					font-size: 0.9rem;
					letter-spacing: 1.3px;
					line-height: 2;
				}
			}
		}
	}
	.detail-close-btn{
		position: fixed;
		top: 10px;
		right: 20px;
		width: 50px;
		height: 50px;
		cursor: pointer;
		display: none;
		&:after,
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			width: 50px;
			height: 1px;
			background-color: black;
			box-shadow: 0px 0px 1px white;
		}
		&:after{
			transform: rotate(45deg);
		}
		&:before{
			transform: rotate(-45deg);
		}
	}
}